<table>
  <tr>
    <th>Name</th>
    <th>LastName</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Phone</th>
  </tr>
  {{#each contacts}}
  <tr>
    <td>{{name}}</td>
    <td>{{lastName}}</td>
    <td>{{gender}}</td>
    <td>{{age}}</td>
    <td>{{phone}}</td>
  </tr>
  {{/each}}
</table>